* {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "s h"
    "s m";
}

.sidebar {
    grid-area: s;
    background-color: #1992D4;
    padding: 5px;
}

.logo > img {
    max-height: 60px;
    align-self: center;
    max-width: 20%;
}
.sidebar > .logo {
    display: flex;
    flex-wrap: nowrap;
    font-size: 35px;
    gap: 5px;
}

.btn-group-1 > div {
    display: flex;
    max-width: 100%;
}
.btn-group-1 img {
    max-width: 10%;
}

.btn-group-2 > div {
    display: flex;
    max-width: 100%;
}
.btn-group-2 img {
    max-width: 10%;
}
.sidebar button {
    min-height: 30px;
    min-width: 90%;
    background-color: transparent;
    text-align: left;
    border: none;
}

.btn-group-1 {
    margin-top: 50px;
}

.btn-group-2 {
    margin-top: 50px;
}

.header {
    grid-area: h;
    background-color: red;
}

.main {
    grid-area: m;
    background-color: green;
}